.header {
  background-color: rgba(0, 255, 255, 0.274);
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  div:first-child {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
  }

  div:last-child {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
