.header {
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  div:first-child {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
  }

  > a {
    padding: 10px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
  }

  > a:hover:not(.active) {
    background-color: white;
  }
}

.active {
  background-color: white;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.267);
  }
}
